{% extends 'base.html' %}
{% block content %}

    <h1>About Me</h1>
        <div class="container" >
            <p>
                <img src="../static/img/profile_small.jpeg" alt="Me" width="500" height="500">
                <p>
                Thank you for checking out this app. This app was developed with a combination of:
                </p>
                <ul>
                    <li> &#8226; HTML</li>
                    <li> &#8226; Materialize CSS</li>
                    <li> &#8226; Python/Django</li>
                    <li> &#8226; Deployed with Heroku</li>
                </ul>
                While this app is far from finished, I hope you enjoyed the base functionality it can provide a user in the board game hobby. Come back often to see the development and implementation of the features mentioned:
                <ul>
                    <li> &#8226; Most Popular Genre of the Month, followed by a list of games relating to that genre.</li>
                    <li> &#8226; Picture upload for users.</li>
                    <li> &#8226; Game ratings.</li>
                    <li> &#8226; Linking to external information and resources for the user game.</li>
                    <li> &#8226; Where to buy search function.</li>
                </ul>
            </p>
        </div>
{% endblock %}