{% extends 'base.html' %}
{% block content %}

<div class="center">
    <h1>Welcome</h1>
    <h5>to SEI Boardgame Collection and Play Tracker</h5>
    <img src="../static/img/boardgame-shot.jpeg" alt="board game pieces" width="400" height="300">
</div>
<div class="container" >
    <p>
        With this app, you'll be able to record your game collection, play dates, win/loss/ties, and where you played your game. In time, I hope to expand on this app with the following features:
        <ul>
            <li> &#8226; Most Popular Genre of the Month, followed by a list of games relating to that genre.</li>
            <li> &#8226; Picture upload for users.</li>
            <li> &#8226; Game ratings.</li>
            <li> &#8226; Linking to external information and resources for the user game.</li>
            <li> &#8226; Where to buy search function.</li>
        </ul>
    </p>
</div>

{% endblock %}